*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.main-container{
     background: #ff900e1a;
}
.container{
    padding: 50px 150px;
}
.btn{
    background: #FF900E;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 10px;
}
.gray-text{
    color: #727272;
}
.orange-text{
    color: #FF900E;
}

/* ---Navbar Styles Start--- */

nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}
nav h1{
    size: 2.813rem;
    font-weight: 700;
    cursor: pointer;
}
nav ul li{
    size: 1.125rem;
}
.resp-icon{
    display: none;
}
li .non-res-icon{
    display: block;
}

/* ---Navbar Styles End--- */

/* ---Main Banner Styles Start--- */

.banner-image img{
    width: 100%;
    margin-top: 40px;
}
.main-banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner-heading{
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
    margin-top: 70px;
}
.para{
    font-size: 14px;
    font-weight: 500;
    color: #727272;
    margin: 20px 0;
}

/* ---Main Banner Styles End--- */

/* -----Feature Section Start------ */
.feature-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.feature-image img{
    width: 250px; 
    height: 250px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}
.quick-heading{
    font-size: 2.6em;
}
.feature-text{
    margin-left: 40px;
}

/* -----Feature Section End------ */

/*---- Second Feature Container Start ---- */

.second-feature-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.sec-feature-img{
    width: 50%;
    position: relative;
}
.sec-feature-img img{
    height: 100%;
    width: 100%;
}
.sec-feature-text{
    width: 50%;
}
.sec-feature-heading h1{
    font-size: 2.5rem;
    color: #1b0101;
    font-weight: 500;
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}
.list{
    border: 0;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 10px;
    box-shadow: -1px 1px 10px -3px rgb(0 0 0 / 20%);
}
.list h2{
    font-size: 20px;
    color: #131313;
    font-weight: 500;
}
.little-banner{
    background-color: #FF900E;
    display: inline-block;
    font-size: 1.5em;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 93%;
    right: 70%;
}
.little-banner p{
    font-size: 16px;
    text-align: center;
}

/*---- Second Feature Container End ---- */

/* ----Reward Container Start------ */
.rewards{
    display: flex;
    justify-content: space-around;
}
.reward{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 40px;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
}
.reward h2{
        width: 100px;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 25%;
        color: #0f0000;
        opacity: 0;
        transition: .5s;
    }
.reward:hover h2{
        opacity: 1;
        top: 45%;
}
.reward img{
    margin-bottom: 30px;
}
.reward-heading{
    font-size: 40px;
    font-weight: 700;
}

/* ----Reward Container End------ */
/* ----User Feedback container Start---- */
.user-review img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.reviews{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}
.user-review{
    padding: 40px;
    border: 1px solid #ff000056;
    border-radius: 10px;
    box-shadow: -12px 12px 15px -4px rgb(0 0 0 / 54%);
}
.review h5{
    font-size: 25px;
    color: #f00a0aa6;
    margin: 10px 0;
}
.review-header{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}
/* ----User Feedback container End---- */

/* ------Sponsor Container Start ------ */
.sponsor-text{
    text-align:center;
}
.sponsor-heading{
    font-size: 35px;
    color: #131313;
}
.sponsor-logo img{
    width: 130px;
    margin-top: 50px;
    filter: grayscale(100%);
}
.sponsor-logo img:hover{
    filter: none;
    cursor: pointer;
}
.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/* ------Sponsor Container End ------ */

.copy-text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background: #ff900e1a;
    padding: 30px ;
}

/* -----Media Query Start------ */

@media only screen and (max-width: 576px) {
    .main-container .container{
        padding-top: 0;
    }
    .container{
        width: 100%;
        padding:50px 0 0 0;
    }
    .menu-bar{
        padding: 10px;
    }
    .resp-icon{
        display: block;
    }
    nav ul{
        
        padding-right: 5px;
    }
    .non-res-icon{
        display: none;
    }
    .feature-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-image img{
        width: 300px;
        height: 300px;
    }
    .feature-text{
        text-align: center;
        margin-left: 0;
    }
    .second-feature-container{
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
    }
    .sec-feature-text{
        text-align: center;
    }
    .sec-feature-img{
        position: relative;
    }
    .little-banner{
        position: absolute;
        padding: 10px 20px;
        top: 60%;
        right: 0;
    }
    .rewards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .reward-text{
        text-align: center;
    }
    .reviews{
        flex-direction: column;
    }
    .sponsor-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  
}
    